body{
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login {
    width: 300px;
    margin: 90px auto;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 70px;
    background: #ffffff;
    border: 5px solid black;
    border-radius: 8px;
}
button {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px 50px;
    text-align: center;
    font-size: 16px;
    margin-left:30%;
    cursor: pointer;
    border-radius: 40px;
    transition: ease-out 0.3s;
}
button:hover{
    transform: translateY(10px);
    box-shadow: 0px 0px 10px blue;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;

    border-radius: 4px;
}